{% extends 'template/jhTemplateV3.html'%}

{% block vue_template %}

<!-- 3 table 下  的单表 crud 页面 -->

<!--SQL START
-- 以下为 jianghu init 工具生成的参考 SQL，使用后删除
-- 创建 page
INSERT INTO `_page` (`pageId`,`pageName`,`pageType`,`sort`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT 'memberManagement','页面','showInMenu','5','jhInsert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_page` WHERE `pageId`='memberManagement');

-- 创建 resource
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'memberManagement','selectItemList','✅查询-查询列表','sql','{}','{ \"table\": \"member\", \"operation\": \"select\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='memberManagement' AND `actionId`='selectItemList');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'memberManagement','insertItem','✅查询-添加成员','sql','{}','{ \"table\": \"member\", \"operation\": \"insert\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='memberManagement' AND `actionId`='insertItem');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'memberManagement','updateItem','✅查询-更新成员','sql','{}','{ \"table\": \"member\", \"operation\": \"update\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='memberManagement' AND `actionId`='updateItem');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'memberManagement','deleteItem','✅查询-删除信息','sql','{}','{ \"table\": \"member\", \"operation\": \"delete\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='memberManagement' AND `actionId`='deleteItem');
SQL END!-->

<jh-layout-v3>

<!--   <template slot="serverSearch">
    <v-row class="ma-0 align-center flex-none pa-0" :class="{'pa-2': !isMobile, 'pa-2': isMobile}" style="justify-content: end">
      <v-col :class="{'pt-2': isMobile, 'pl-0': isMobile, 'pr-0': !isMobile}" style="max-width: 77px">
        <v-btn
          class="elevation-0"
          color="success"
          dark
          @click="doUiAction('refreshTableData')"
        >
          查询
        </v-btn>
      </v-col>
    </v-row>
  </template>-->

<!-- 页面主要内容 -->
<v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
  <v-card>
  <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 " :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">

      <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pl-0">
        <v-btn color="success" dark class="elevation-0 mr-2" @click="doUiAction('startCreateItem')">新增</v-btn>
        <span class="body-2">共{{ tableData.length }}条记录</span>
      </v-col>

      <v-spacer></v-spacer>

      <v-col cols="12" xs="3" sm="3" md="2" xl="2" class="pa-xs-0 pa-xs-2 col-sm-8-flex">
        <v-text-field v-model="searchInput" label="表格过滤" class="cus-v-input" dense filled single-line></v-text-field>
      </v-col>
    </v-row>
    <v-data-table fixed-header
                  :headers="headers"
                  :items="tableData"
                  :search="searchInput"
                  :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
                  :items-per-page="20"
                  mobile-breakpoint="0"
                  :loading="isTableLoading"
                  checkbox-color="success"
                  class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
      <template v-slot:item.action="{ item }">
        <v-btn small class=" success" @click="doUiAction('startUpdateItem', {item})">修改</v-btn>
        <!-- <v-btn small class=" error" @click="doUiAction('deleteItem', {item})">删除</v-btn> -->
      </template>
    </v-data-table>
  </v-card>
</v-container>

<!-- 新增 -->
<v-navigation-drawer v-model="isAddDrawerShow" :permanent="isAddDrawerShow" fixed temporary right width="80%" class="elevation-24">
  <v-form v-model="isFormValid" v-if="isAddDrawerShow" ref="form" lazy-validation>
    <v-row class="pt-8">
      <span class="title pa-6" :class="{'pl-12': !isMobile, 'pl-6': isMobile}">新增信息</span>
      <v-spacer></v-spacer>
      <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small @click="isAddDrawerShow = false">
        <v-icon dark>mdi-close</v-icon>
      </v-btn>
    </v-row>
    <v-row :class="{'px-10': !isMobile, 'px-3': isMobile, 'pb-7': isMobile}">
       
      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">职员名</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['memberName']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">职员状态</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['memberStatus']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">职员工作状态</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['memberWorkStatus']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">职员联系电话</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['memberContact']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">职员邮箱</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['memberEmail']"></v-text-field>
      </v-col>

      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">组织</span>
        <v-select class="cus-v-input mr-2" dense filled single-line clearable color="success"
        v-model="addItem['orgId']" :items="constantCollection['org']" 
        multiple></v-select>
      </v-col>
       
    </v-row>
    <v-row class="justify-end pr-6">
      <v-btn color="success" @click="doUiAction('createItem')" :style="{width: isMobile ? 'calc(100% - 45px)' : '200px'}" :class="{'mb-2': isMobile, 'mr-4': isMobile}">新增</v-btn>
      <v-btn class="ml-2" @click="isAddDrawerShow = false" :style="{width: isMobile ? 'calc(100% - 45px)' : '200px'}" :class="{'mr-4': isMobile}">取消</v-btn>
    </v-row>
  </v-form>
</v-navigation-drawer>


<!-- 编辑抽屉 -->
<v-navigation-drawer v-model="isEditDrawerShow" :permanent="isEditDrawerShow" fixed temporary right width="80%" class="elevation-24">
  <v-form v-model="isFormValid" v-if="isEditDrawerShow" ref="form" lazy-validation>
    <v-row class="pt-8">
      <span class="title pa-6" :class="{'pl-12': !isMobile, 'pl-6': isMobile}">编辑信息</span>
      <v-spacer></v-spacer>
      <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small @click="isEditDrawerShow = false">
        <v-icon dark>mdi-close</v-icon>
      </v-btn>
    </v-row>
    <v-row :class="{'px-10': !isMobile, 'px-3': isMobile, 'pb-7': isMobile}">
       
      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">职员名</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['memberName']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">职员状态</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['memberStatus']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">职员工作状态</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['memberWorkStatus']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">职员联系电话</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['memberContact']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">职员邮箱</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['memberEmail']"></v-text-field>
      </v-col>

      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">组织</span>
        <v-select class="cus-v-input mr-2" dense filled single-line clearable color="success"
        v-model="editItem['orgId']" :items="constantCollection['org']" 
        multiple></v-select>
      </v-col>
       
<!--      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">-->
<!--        &lt;!&ndash; 必填字段样式 demo :rules="requireRules" &ndash;&gt;-->
<!--            <span class="inputLabel">学生ID</span>-->
<!--        <v-text-field class="cus-v-input " dense filled single-line label="学生ID" v-model="editItem.studentId" :rules="requireRules"></v-text-field>-->
<!--      </v-col>-->
<!--      &lt;!&ndash; select 字段 demo &ndash;&gt;-->
<!--      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">-->
<!--            <span class="inputLabel">班级ID</span>-->
<!--        <v-select class="cus-v-input " dense filled single-line clearable label="班级ID" v-model="editItem.classId" :items="constantCollection.classId"></v-select>-->
<!--      </v-col>-->
<!--      &lt;!&ndash; 日期选择 demo &ndash;&gt;-->
<!--      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">-->
<!--        <span class="inputLabel">出生日期</span>-->
<!--        <v-menu class="cus-v-input " offset-y max-width="290">-->
<!--          <template v-slot:activator="{ on, attrs }">-->
<!--            <v-text-field class="cus-v-input " dense filled single-line v-on="on" label="出生日期" v-model="editItem.dateOfBirth"></v-text-field>-->
<!--          </template>-->
<!--          <v-date-picker color="success" elevation="20" v-model="editItem.dateOfBirth"></v-date-picker>-->
<!--        </v-menu>-->
<!--      </v-col>-->
    </v-row>
    <v-row class="justify-end mx-0 mt-8" :class="{'px-10': !isMobile, 'px-4': isMobile, 'mb-8': isMobile}">
      <v-btn color="success" @click="doUiAction('updateItem')">保存</v-btn>
      <v-btn class="ml-2" @click="isEditDrawerShow = false">取消</v-btn>
    </v-row>
  </v-form>
</v-navigation-drawer>

</jh-layout-v3>

{% endblock %}

{% block vue_body %}

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    // 表格相关数据
    isFormValid: true,
    requireRules: [
      v => !!v || 'This is required',
    ],
    constantCollection: {
      org: []
    },

    serverSearchInput: {
      studentId: null,
      classId: null
    },
    searchInput: null,
    isTableLoading: true,
    tableDataFromBackend: [],
    headers: [
      {text: "职员Id", value: "memberId", width: 120, class: 'fixed', cellClass: 'fixed'}, 
      {text: "职员名", value: "memberName", width: 120, class: 'fixed', cellClass: 'fixed'}, 
      {text: "职员状态", value: "memberStatus", width: 120}, 
      {text: "职员工作状态", value: "memberWorkStatus", width: 120}, 
      {text: "职员联系电话", value: "memberContact", width: 120}, 
      {text: "职员邮箱", value: "memberEmail", width: 120}, 
      {text: "操作者", value: "operationByUser", width: 120},
      {text: "操作时间", value: "operationAt", width: 250},
      {text: '操作', value: 'action', align: 'center', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed'},
    ],
    isEditDrawerShow: false,
    editItem: {},
    isAddDrawerShow: false,
    addItem: {},
    editItemOrg: []
  }),
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
    tableData() {
      return this.tableDataFromBackend;
    }
  },
  watch: {},
  async created() {
    await this.doUiAction('refreshTableData');
    await this.getOrg();
  },
  mounted() {},
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'refreshTableData':
          await this.refreshTableData();
          break;
        case 'startCreateItem':
          await this.clearItemData();
          await this.openCreateItemDialog();
          break;
        case 'createItem':
          await this.prepareValidate();
          await this.confirmCreateItemDialog();
          await this.doCreateItem();
          await this.closeDrawerShow();
          await this.refreshTableData();
          break;
        case 'startUpdateItem':
          await this.prepareItemData(uiActionData);
          await this.openUpdateDialog();
          await this.getMemberOrg();
          break;
        case 'updateItem':
          await this.prepareValidate();
          await this.confirmUpdateItemDialog();
          await this.doUpdateItem();
          await this.closeDrawerShow();
          await this.refreshTableData();
          break;
        // case 'deleteItem':
        //   await this.confirmDeleteItemDialog();
        //   await this.doDeleteItem(uiActionData);
        //   await this.refreshTableData();
        //   break;
        default:
          console.error("[doUiAction] uiActionId not find", { uiActionId });
          break;
      }
    },
    // =================================uiAction 公共方法 start ======================================
    async getOrg(){;
      const {rows} = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'orgManagement',
            actionId: 'selectItemList'
          }
        }
      })).data.appData.resultData;
      this.setOrgConstant(rows)
    },
    // 设置组织常量
    setOrgConstant(rows){
      const org = rows.map(item => {
        return {text: item.orgName, value: item.orgId}
      })
      this.$set(this.constantCollection, 'org', org) 
    },
    // 获取员工所在组织
    async getMemberOrg(){
      const {rows} = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'orgMemberRoleManagement',
            actionId: 'selectItem',
            where: {
              memberId: this.editItem.memberId
            }
          }
        }
      })).data.appData.resultData;
      const org = rows.map(item => item.orgId)
      this.$set(this.editItem, 'orgId', org)
      this.editItemOrg = org
    },
    /**
     * uiActionId:  prepareValidate
     * description: ✅表单校验
    */
    async prepareValidate() {
      if (this.$refs.form.validate() === false) {
        window.vtoast.fail({ message: "输入有误, 请检查!" });
        throw new Error("[prepareValidate] false");
      }
    },

    /**
     * uiActionId:  refreshTableData
     * description: ✅获取表格数据
    */
    async refreshTableData() {
      this.isTableLoading = true;
      const serverSearchInput = _.pickBy(this.serverSearchInput, value=> !!value);
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'memberManagement',
            actionId: 'selectItemList',
            actionData: {},
            where: {},
            whereLike: serverSearchInput,
            orderBy: [{column: 'memberId', order: 'desc'}]
          }
        }
      });
      const { rows } = result.data.appData.resultData;

      this.tableDataFromBackend = rows;
      this.isTableLoading = false;
    },
    // =================================uiAction 公共方法 end ======================================


    /**
     * uiActionId:  startCreateItem
     * description: ✅获取表格数据
    */
    async clearItemData() {
      this.addItem = {};
    },
    async openCreateItemDialog() {
      this.isAddDrawerShow = true;
    },

    /**
     * uiActionId:  createItem
     * description: ✅获取表格数据
    */
    async confirmCreateItemDialog() {
      if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doCreateItem() {
      const { id, orgId, ...data } = this.addItem;
      await window.vtoast.loading("新增数据");
      const result = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'memberManagement',
            actionId: 'insertItem',
            actionData: data
          }
        }
      })).data.appData.resultData.rows;
      if(orgId){
        const member = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'memberManagement',
              actionId: 'selectItemList',
              where: { id: result[0] }
            }
          }
        })).data.appData.resultData.rows[0];
        await Promise.all(orgId.map(async org => {
          return await window.jianghuAxios({
            data: {
              appData: {
                pageId: 'orgMemberRoleManagement',
                actionId: 'insertItem',
                actionData: {
                  orgId: org,
                  memberId: member.memberId
                }
              }
            }
          })
        }))
      }
      await window.vtoast.success("新增数据成功");
    },
    async closeDrawerShow() {
      this.isEditDrawerShow = false;
      this.isAddDrawerShow = false;
    },

    /**
     * uiActionId:  startUpdateItem
     * description: ✅获取表格数据
    */
    async prepareItemData({item}) {
      this.editItem = {...item};
    },
    async openUpdateDialog() {
      this.isEditDrawerShow = true;
    },
    /**
     * uiActionId:  updateItem
     * description: ✅获取表格数据
    */
    async confirmUpdateItemDialog() {
      if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doUpdateItem() {
      const { id, orgId, ...data } = this.editItem;
      await window.vtoast.loading("修改数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'memberManagement',
            actionId: 'updateItem',
            actionData: data,
            where: {id}
          }
        }
      })
      // 删除组织
      const delOrg = _.difference(this.editItemOrg, orgId);
      if(delOrg.length > 0){
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'orgMemberRoleManagement',
              actionId: 'deleteItem',
              where: { memberId: data.memberId },
              whereIn: { 
                orgId: delOrg
              }
            }
          }
        })
      }
      // 添加组织
      const addOrg = _.difference(orgId, this.editItemOrg);
      if(addOrg.length > 0){
        await Promise.all(addOrg.map(async org => {
          return await window.jianghuAxios({
            data: {
              appData: {
                pageId: 'orgMemberRoleManagement',
                actionId: 'insertItem',
                actionData: {
                  orgId: org,
                  memberId: data.memberId
                }
              }
            }
          })
        }))
      }
      await window.vtoast.success("修改数据成功");
    },

    /**
     * uiActionId:  deleteItem
     * description: ✅获取表格数据
    */
    async confirmDeleteItemDialog() {
      if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doDeleteItem({item}) {
      const { id, memberId } = item;
      await window.vtoast.loading("删除数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'memberManagement',
            actionId: 'deleteItem',
            actionData: {},
            where: { id: id }
          }
        }
      });
      await window.vtoast.success("删除数据成功");
    },
  }
})
</script>

<style scoped>
</style>
{% endblock %}
