{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
<div>
  <v-app mobile-breakpoint="sm">
    <jh-menu />
    <v-main class="mt-15">
      <!-- 头部内容 >>>>>>>>>>>>> -->
      <div class="jh-page-second-bar px-8">
        <v-row class="align-center">
          <v-col cols="12" xs="12" sm="12" md="4" xl="3">
            <div class="py-4 text-body-1 font-weight-bold">职员管理
              <!-- 帮助页按钮 -->
              <span role="button" class="success--text font-weight-regular jh-font-size-13 ml-2" @click="isHelpPageDrawerShown = true">
                <v-icon size="13" class="success--text">mdi-help-circle-outline</v-icon>帮助
              </span>
            </div>
          </v-col>
        </v-row>
      </div>
      <!-- <<<<<<<<<<<<< 头部内容 -->

      <div class="jh-page-body-container px-8">
        <!-- 页面内容 >>>>>>>>>>>>> -->
        <v-card class="rounded-lg">
          <v-row class="ma-0 pa-4">
            <!--新增按钮-->
            <v-btn color="success" class="elevation-0 mr-2" @click="doUiAction('startCreateItem')" small>新增</v-btn>
            <v-spacer></v-spacer>
            <!--搜索过滤-->
            <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
              <v-text-field color="success" v-model="searchInput" prefix="搜索：" class="jh-v-input" dense filled single-line></v-text-field>
            </v-col>
          </v-row>
          <!--表格-->
          <v-data-table
            :headers="headers"
            :items="tableData"
            :search="searchInput"
            :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}"
            :items-per-page="-1"
            mobile-breakpoint="0"
            :loading="isTableLoading"
            :class="{'zebraLine': isTableZebraLineShown }"
            checkbox-color="success"
            fixed-header
            class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4">
            <!--表格行操作按钮-->
            <template v-slot:item.action="{ item }">
              <span
                role="button" class="success--text font-weight-medium font-size-2 mr-2"
                @click="doUiAction('startUpdateItem', item)">
                <v-icon size="16" class="success--text">mdi-note-edit-outline</v-icon>修改
              </span>
            </template>
            <!--性别-->
            <template v-slot:item.gender="{ item }">
              {{ getDisplayText({displayObj: constantObj.gender, displayValue: item.gender}) }}
            </template>
            <!--年级-->
            <template v-slot:item.level="{ item }">
              {{ getDisplayText({displayObj: constantObj.level, displayValue: item.level}) }}
            </template>
            <!--没有数据-->
            <template v-slot:loading>
              <div class="jh-no-data">数据加载中</div>
            </template>
            <template v-slot:no-data>
              <div class="jh-no-data">暂无数据</div>
            </template>
            <template v-slot:no-results>
              <div class="jh-no-data">暂无数据</div>
            </template>
            <!--表格分页-->
            <template v-slot:footer.page-text="pagination">
              <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
              <span class="ml-1">共{{pagination.itemsLength}}条</span>
            </template>
          </v-data-table>
        </v-card>
        <!-- <<<<<<<<<<<<< 页面内容 -->

        <!--新增抽屉-->
        <v-navigation-drawer v-model="isCreateDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
          <v-form ref="createForm" lazy-validation>
            <!-- 抽屉标题 -->
            <v-row no-gutters>
              <span class="text-h7 font-weight-bold pa-4">添加信息</span>
            </v-row>
            <v-divider class="jh-divider"></v-divider>
            <!--抽屉表单主体-->
            <v-row class="mt-0 px-4">
              <v-col cols="12" sm="12" md="4">
                <span class="jh-input-label">职员名<span class="red--text text--accent-2 ml-1">*必填</span></span>
                <v-text-field class="jh-v-input" dense single-line filled label="职员名" v-model="createItem.memberName" :rules="validationRules.requireRules"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <span class="jh-input-label">职员状态</span>
                <v-select class="jh-v-input" dense single-line filled clearable label="职员状态" v-model="createItem.memberStatus" :items="constantObj.memberStatus"></v-select>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <span class="jh-input-label">职员工作状态</span>
                <v-select class="jh-v-input" dense single-line filled clearable label="职员工作状态" v-model="createItem.memberWorkStatus" :items="constantObj.memberWorkStatus"></v-select>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <span class="jh-input-label">职员联系电话</span>
                <v-text-field class="jh-v-input" dense single-line filled label="职员联系电话" v-model="createItem.memberContact"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <span class="jh-input-label">职员邮箱</span>
                <v-text-field class="jh-v-input" dense single-line filled label="职员邮箱" v-model="createItem.memberEmail"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <span class="jh-input-label">组织</span>
                <v-select class="jh-v-input" dense single-line filled multiple clearable label="组织" v-model="createItem.orgId" :items="constantObj.org"></v-select>
              </v-col>
            </v-row>
            <!--抽屉操作按钮-->
            <v-row class="justify-end mx-0 my-8 px-4">
              <v-btn color="success" @click="doUiAction('createItem')" small>保存</v-btn>
              <v-btn class="ml-2" @click="isCreateDrawerShown = false" small>取消</v-btn>
            </v-row>
          </v-form>
          <!--抽屉关闭按钮-->
          <v-btn
            elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
            @click="isCreateDrawerShown = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-navigation-drawer>

        <!--编辑抽屉-->
        <v-navigation-drawer v-model="isUpdateDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
          <v-form ref="updateForm" lazy-validation>
            <!-- 抽屉标题 -->
            <v-row no-gutters>
              <span class="text-h7 font-weight-bold pa-4">修改信息</span>
            </v-row>
            <v-divider class="jh-divider"></v-divider>
            <!--抽屉表单-->
            <v-row class="mt-0 px-4">
              <v-col cols="12" sm="12" md="4">
                <span class="jh-input-label">职员名<span class="red--text text--accent-2 ml-1">*必填</span></span>
                <v-text-field class="jh-v-input" dense single-line filled label="职员名" v-model="updateItem.memberName" :rules="validationRules.requireRules"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <span class="jh-input-label">职员状态</span>
                <v-select class="jh-v-input" dense single-line filled clearable label="职员状态" v-model="updateItem.memberStatus" :items="constantObj.memberStatus"></v-select>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <span class="jh-input-label">职员工作状态</span>
                <v-select class="jh-v-input" dense single-line filled clearable label="职员工作状态" v-model="updateItem.memberWorkStatus" :items="constantObj.memberWorkStatus"></v-select>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <span class="jh-input-label">职员联系电话</span>
                <v-text-field class="jh-v-input" dense single-line filled label="职员联系电话" v-model="updateItem.memberContact"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <span class="jh-input-label">职员邮箱</span>
                <v-text-field class="jh-v-input" dense single-line filled label="职员邮箱" v-model="updateItem.memberEmail"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <span class="jh-input-label">组织</span>
                <v-select class="jh-v-input" dense single-line filled multiple clearable label="组织" v-model="updateItem.orgId" :items="constantObj.org"></v-select>
              </v-col>
            </v-row>
            <!--抽屉操作按钮-->
            <v-row class="justify-end mx-0 my-8 px-4">
              <v-btn color="success" small @click="doUiAction('updateItem')">保存</v-btn>
              <v-btn class="ml-2" small @click="isUpdateDrawerShown = false">取消
              </v-btn>
            </v-row>
          </v-form>

          <!--抽屉关闭按钮-->
          <v-btn
            elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
            @click="isUpdateDrawerShown = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-navigation-drawer>
      </div>

      <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
      <v-navigation-drawer v-model="isHelpPageDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
        <iframe
          style="border: 0" :src="`/${appInfo.appId}/pageDoc#1.memberManagement.md`" width="100%"
          height="100%"></iframe>

        <v-btn
          elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
          @click="isHelpPageDrawerShown = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-navigation-drawer>
      <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

    </v-main>
  </v-app>

  <jh-toast />
  <jh-mask />
  <jh-confirm-dialog />

</div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}

<!-- 加载页面组件 >>>>>>>>>>>>> -->
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
<!-- <<<<<<<<<<<<< 加载页面组件 -->

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vueComponent: 'page',
  vuetify: new Vuetify(),
  data: {
    isHelpPageDrawerShown: false,
    // 表格相关数据
    isTableZebraLineShown: true,
    validationRules: {
      requireRules: [
        v => !!v || 'This is required',
      ],
    },
    // 下拉选项
    constantObj: {
      org: [],
      memberStatus: ['在职','离职','停职'],
      memberWorkStatus: ['空闲', '忙碌', '休假', '会议']
    },
    searchInput: null,
    isTableLoading: true,
    tableData: [],
    headers: [
      {text: "职员Id", value: "memberId", width: 120},
      {text: "职员名", value: "memberName", width: 120},
      {text: "职员状态", value: "memberStatus", width: 120},
      {text: "职员工作状态", value: "memberWorkStatus", width: 120},
      {text: "职员联系电话", value: "memberContact", width: 120},
      {text: "职员邮箱", value: "memberEmail", width: 120},
      {text: "操作者", value: "operationByUser", width: 90},
      {text: "操作时间", value: "operationAt", width: 150},
      {text: '操作', value: 'action', align: 'center', sortable: false, width: 80, class: 'fixed', cellClass: 'fixed'},
    ],

    isCreateDrawerShown: false,
    createItem: {},
    createActionData: {},
    createOrgId: null,
    isUpdateDrawerShown: false,
    updateItem: {},
    updateItemOrg: null,
    updateItemId: null,
    updateOrgId: null,
    updateActionData: {},
    deleteItem: {},
    deleteItemId: null
  },
  watch: {},
  async created() {
    await this.doUiAction('getTableData');
    await this.getOrg();
  },
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'getTableData':
          await this.getTableData();
          break;
        case 'startCreateItem':
          await this.prepareCreateFormData();
          await this.openCreateDrawer();
          break;
        case 'createItem':
          await this.prepareCreateValidate();
          await this.confirmCreateItemDialog();
          await this.prepareDoCreateItem();
          await this.doCreateItem();
          await this.closeCreateDrawer();
          await this.getTableData();
          break;
        case 'startUpdateItem':
          await this.prepareUpdateFormData(uiActionData);
          await this.prepareUpdateMemberOrg();
          await this.openUpdateDrawer();
          break;
        case 'updateItem':
          await this.prepareUpdateValidate();
          await this.confirmUpdateItemDialog();
          await this.prepareDoUpdateItem();
          await this.doUpdateItem();
          await this.closeUpdateDrawer();
          await this.getTableData();
          break;
        default:
          console.error("[doUiAction] uiActionId not find", {uiActionId});
          break;
      }
    },
    async getTableData() {
      this.isTableLoading = true;
      const rows = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'memberManagement',
            actionId: 'selectItemList',
            actionData: {},
            where: {},
            orderBy: [{column: 'memberId', order: 'desc'}]
          }
        }
      })).data.appData.resultData.rows

      rows.forEach(row => {
        row.operationAt = dayjs(row.operationAt).format('YYYY-MM-DD HH:mm:ss');
      })
      this.tableData = rows;
      this.isTableLoading = false;
    },
    async getOrg(){
      const {rows} = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'orgManagement',
            actionId: 'selectItemList'
          }
        }
      })).data.appData.resultData;
      this.setOrgConstant(rows)
    },
    // 设置组织常量
    setOrgConstant(rows){
      const org = rows.map(item => {
        // 获取层级
        const level = item.orgId.split('-').length;
        return {text: _.repeat(' - ', level - 1) + item.orgName, value: item.orgId}
      })
      this.$set(this.constantObj, 'org', org)
    },

    // ---------- 新增数据 uiAction >>>>>>>>>> --------
    async prepareCreateFormData() {
      this.createItem = {};
    },

    async openCreateDrawer() {
      this.isCreateDrawerShown = true;
    },
    async prepareCreateValidate() {
      if (await this.$refs.createForm.validate()) {
        return true;
      }
      throw new Error("请完善表单信息")
    },

    async confirmCreateItemDialog() {
      if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
        throw new Error("[confirmCreateFormDialog] 否");
      }
    },

    prepareDoCreateItem() {
      const {id, orgId, ...data} = this.createItem;
      this.createOrgId = orgId;
      this.createActionData = data;
    },

    async doCreateItem() {
      await window.jhMask.show();
      await window.vtoast.loading({message: "新增数据", time: -1});
      const result = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'memberManagement',
            actionId: 'insertItem',
            actionData: this.createActionData
          }
        }
      })).data.appData.resultData.rows;
      if(this.createOrgId){
        const member = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'memberManagement',
              actionId: 'selectItemList',
              where: { id: result[0] }
            }
          }
        })).data.appData.resultData.rows[0];
        await Promise.all(this.createOrgId.map(async org => {
          return await window.jianghuAxios({
            data: {
              appData: {
                pageId: 'memberOrgRoleManagement',
                actionId: 'insertItem',
                actionData: {
                  orgId: org,
                  memberId: member.memberId
                }
              }
            }
          })
        }))
      }
      await window.jhMask.hide();
      await window.vtoast.success("新增数据成功");
    },
    async closeCreateDrawer() {
      this.isCreateDrawerShown = false;
      this.createItem = {};
      this.createOrgId = null;
      this.createActionData = null;
    },
    // ---------- <<<<<<<<<<< 新增数据 uiAction  --------
    // ---------- 修改数据 uiAction >>>>>>>>>>>> --------
    async prepareUpdateFormData(funObj) {
      this.updateItem = _.cloneDeep(funObj);
    },
    // 获取员工所在组织
    async prepareUpdateMemberOrg(){
      this.isTableLoading = true;
      const {rows} = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'memberOrgRoleManagement',
            actionId: 'selectItem',
            where: {
              memberId: this.updateItem.memberId
            }
          }
        }
      })).data.appData.resultData;
      const org = rows.map(item => item.orgId)
      this.$set(this.updateItem, 'orgId', org)
      this.updateItemOrg = org
      this.isTableLoading = false;
    },
    async openUpdateDrawer() {
      this.isUpdateDrawerShown = true;
    },

    async prepareUpdateValidate() {
      if (await this.$refs.updateForm.validate()) {
        return true;
      }
      throw new Error("请完善表单信息")
    },

    async confirmUpdateItemDialog() {
      if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
        throw new Error("[confirmUpdateItemDialog] 否");
      }
    },

    async prepareDoUpdateItem() {
      const {id, orgId, ...data} = this.updateItem;
      this.updateItemId = id;
      this.updateOrgId = orgId;
      this.updateActionData = data;
    },

    async doUpdateItem() {
      await window.jhMask.show();
      await window.vtoast.loading({message: "修改数据", time: -1});
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'memberManagement',
            actionId: 'updateItem',
            actionData: this.updateActionData,
            where: {id: this.updateItemId}
          }
        }
      })
      // 删除组织
      const delOrg = _.difference(this.updateItemOrg, this.updateOrgId);
      if(delOrg.length > 0){
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'memberOrgRoleManagement',
              actionId: 'deleteItem',
              where: { memberId: this.updateActionData.memberId },
              whereIn: {
                orgId: delOrg
              }
            }
          }
        })
      }
      // 添加组织
      const addOrg = _.difference(this.updateOrgId, this.updateItemOrg);
      if(addOrg.length > 0){
        await Promise.all(addOrg.map(async org => {
          return await window.jianghuAxios({
            data: {
              appData: {
                pageId: 'memberOrgRoleManagement',
                actionId: 'insertItem',
                actionData: {
                  orgId: org,
                  memberId: this.updateActionData.memberId
                }
              }
            }
          })
        }))
      }
      await window.jhMask.hide();
      await window.vtoast.success("修改数据成功");
    },

    async closeUpdateDrawer() {
      this.isUpdateDrawerShown = false;
      this.updateItem = {};
      this.updateItemOrg = null;
      this.updateOrgId = null;
      this.updateActionData = null;
      this.updateItemId = null;
    },
    // ---------- <<<<<<<<<<< 修改数据 uiAction  --------
  }
})
</script>

<style scoped>
</style>
{% endblock %}
