{% extends 'template/jhTemplateV3.html'%}

{% block vue_template %}

<!-- 3 table 下  的单表 crud 页面 -->

<!--SQL START
-- 以下为 jianghu init 工具生成的参考 SQL，使用后删除
-- 创建 page
INSERT INTO `_page` (`pageId`,`pageName`,`pageType`,`sort`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT 'staffManagement','页面','showInMenu','5','jhInsert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_page` WHERE `pageId`='staffManagement');

-- 创建 resource
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'staffManagement','selectItemList','✅查询-查询列表','sql','{}','{ \"table\": \"staff\", \"operation\": \"select\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='staffManagement' AND `actionId`='selectItemList');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'staffManagement','insertItem','✅查询-添加成员','sql','{}','{ \"table\": \"staff\", \"operation\": \"insert\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='staffManagement' AND `actionId`='insertItem');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'staffManagement','updateItem','✅查询-更新成员','sql','{}','{ \"table\": \"staff\", \"operation\": \"update\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='staffManagement' AND `actionId`='updateItem');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'staffManagement','deleteItem','✅查询-删除信息','sql','{}','{ \"table\": \"staff\", \"operation\": \"delete\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='staffManagement' AND `actionId`='deleteItem');
SQL END!-->

<jh-layout-v3>

<!--   <template slot="serverSearch">
    <v-row class="ma-0 align-center flex-none pa-0" :class="{'pa-2': !isMobile, 'pa-2': isMobile}" style="justify-content: end">
      <v-col :class="{'pt-2': isMobile, 'pl-0': isMobile, 'pr-0': !isMobile}" style="max-width: 77px">
        <v-btn
          class="elevation-0"
          color="success"
          dark
          @click="doUiAction('refreshStaffData')"
        >
          查询
        </v-btn>
      </v-col>
    </v-row>
  </template>-->

<!-- 页面主要内容 -->
<v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
  <v-card>
    <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 " :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">

      <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pl-0">
        <v-btn color="success" dark class="elevation-0 mr-2" @click="doUiAction('startCreateItem')">新增</v-btn>
        <span class="body-2">共{{ tableData.length }}条记录</span>
      </v-col>

      <v-spacer></v-spacer>

      <v-col cols="12" xs="3" sm="3" md="2" xl="2" class="pa-xs-0 pa-xs-2 col-sm-8-flex">
        <v-text-field v-model="searchInput" label="表格过滤" class="cus-v-input" dense filled single-line></v-text-field>
      </v-col>
    </v-row>
    <v-row class="ma-0 pa-0">
      <v-col cols="12" xs="3" sm="4" md="3" xl="2" style="border-right: 1px solid #EEEEEE">
        <v-treeview
            @update:active="onTreeChange"
            shaped
            hoverable
            activatable
            :open="openTree"
            :items="orgTree"
        ></v-treeview>
      </v-col>
      <v-col cols="12" xs="9" sm="8" md="9" xl="10">
        <v-expansion-panels multiple v-model="activePanel" accordion>
          <table-tree 
            :table-data="tableData" 
            :nodeHeaders="nodeHeaders"
            :isTableLoading="isTableLoading"
            :activePanel="activePanel"
          /></table-tree>
        </v-expansion-panels>
        <!-- <template v-for="group of tableData">
          <template v-if="group.children">
           <v-data-table 
              fixed-header
              show-expand
              :expanded="expanded"
              hide-default-header
              hide-default-footer
              :headers="groupHeaders"
              :items="[group]"
              :search="searchInput"
              :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
              :items-per-page="20"
              mobile-breakpoint="0"
              :loading="isTableLoading"
              checkbox-color="success"
              class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
            <template v-slot:expanded-item="{ headers, item }">
              <td :colspan="headers.length">
                <v-data-table 
                    fixed-header
                    hide-default-footer
                    :headers="nodeHeaders"
                    :items="item.memberList"
                    :search="searchInput"
                    mobile-breakpoint="0"
                    :loading="isTableLoading"
                    checkbox-color="success"
                    class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
                    <template v-slot:item.action="{ item }">
                      <v-btn small class=" success" @click="doUiAction('startUpdateItem', {item})">修改</v-btn>
                      <v-btn small class=" error" @click="doUiAction('deleteItem', {item})">删除</v-btn>
                    </template>
                </v-data-table>
              </td>
            </template>
           </v-data-table>
          </template>
          <template v-if="group.memberList">
            <v-data-table fixed-header
                          :headers="nodeHeaders"
                          :items="group.memberList"
                          :search="searchInput"
                          mobile-breakpoint="0"
                          :loading="isTableLoading"
                          checkbox-color="success"
                          class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
              <template v-slot:item.action="{ item }">
                <v-btn small class=" success" @click="doUiAction('startUpdateItem', {item})">修改</v-btn>
                <v-btn small class=" error" @click="doUiAction('deleteItem', {item})">删除</v-btn>
              </template>
            </v-data-table>
          </template>
        </template> -->
      </v-col>
    </v-row>
  </v-card>
</v-container>

<!-- 新增 -->
<v-navigation-drawer v-model="isAddDrawerShow" :permanent="isAddDrawerShow" fixed temporary right width="80%" class="elevation-24">
  <v-form v-model="isFormValid" v-if="isAddDrawerShow" ref="form" lazy-validation>
    <v-row class="pt-8">
      <span class="title pa-6" :class="{'pl-12': !isMobile, 'pl-6': isMobile}">新增信息</span>
      <v-spacer></v-spacer>
      <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small @click="isAddDrawerShow = false">
        <v-icon dark>mdi-close</v-icon>
      </v-btn>
    </v-row>
    <v-row :class="{'px-10': !isMobile, 'px-3': isMobile, 'pb-7': isMobile}">

      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">职员名</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['staffName']"></v-text-field>
      </v-col>

      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">职员状态</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['staffStatus']"></v-text-field>
      </v-col>

      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">职员工作状态</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['staffWorkStatus']"></v-text-field>
      </v-col>

      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">职员联系电话</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['staffContact']"></v-text-field>
      </v-col>

      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">职员邮箱</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['staffEmail']"></v-text-field>
      </v-col>

    </v-row>
    <v-row class="justify-end pr-6">
      <v-btn color="success" @click="doUiAction('createItem')" :style="{width: isMobile ? 'calc(100% - 45px)' : '200px'}" :class="{'mb-2': isMobile, 'mr-4': isMobile}">新增</v-btn>
      <v-btn class="ml-2" @click="isAddDrawerShow = false" :style="{width: isMobile ? 'calc(100% - 45px)' : '200px'}" :class="{'mr-4': isMobile}">取消</v-btn>
    </v-row>
  </v-form>
</v-navigation-drawer>


<!-- 编辑抽屉 -->
<v-navigation-drawer v-model="isEditDrawerShow" :permanent="isEditDrawerShow" fixed temporary right width="80%" class="elevation-24">
  <v-form v-model="isFormValid" v-if="isEditDrawerShow" ref="form" lazy-validation>
    <v-row class="pt-8">
      <span class="title pa-6" :class="{'pl-12': !isMobile, 'pl-6': isMobile}">编辑信息</span>
      <v-spacer></v-spacer>
      <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small @click="isEditDrawerShow = false">
        <v-icon dark>mdi-close</v-icon>
      </v-btn>
    </v-row>
    <v-row :class="{'px-10': !isMobile, 'px-3': isMobile, 'pb-7': isMobile}">

      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">职员名</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['staffName']"></v-text-field>
      </v-col>

      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">职员状态</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['staffStatus']"></v-text-field>
      </v-col>

      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">职员工作状态</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['staffWorkStatus']"></v-text-field>
      </v-col>

      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">职员联系电话</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['staffContact']"></v-text-field>
      </v-col>

      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">职员邮箱</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['staffEmail']"></v-text-field>
      </v-col>
    </v-row>
    <v-row class="justify-end mx-0 mt-8" :class="{'px-10': !isMobile, 'px-4': isMobile, 'mb-8': isMobile}">
      <v-btn color="success" @click="doUiAction('updateItem')">保存</v-btn>
      <v-btn class="ml-2" @click="isEditDrawerShow = false">取消</v-btn>
    </v-row>
  </v-form>
</v-navigation-drawer>

</jh-layout-v3>

{% endblock %}

{% block vue_body %}
{% include 'component/tableTree.html' %}

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    // 表格相关数据
    isFormValid: true,
    requireRules: [
      v => !!v || 'This is required',
    ],
    constantCollection: {
    },
    serverSearchInput: {
      studentId: null,
      classId: null
    },
    searchInput: null,
    isTableLoading: true,
    tableDataFromBackend: [],
    expanded: [],
    tableDataTree: [],
    currentOrgId: null,
    orgBackend: [],
    orgTree: [],
    openTree: [],
    nodeHeaders: [
      {text: "职员Id", value: "staffId", width: 120},
      {text: "职员名", value: "staffName", width: 120},
      {text: "职员状态", value: "staffStatus", width: 120},
      {text: "职员工作状态", value: "staffWorkStatus", width: 120},
      {text: "职员联系电话", value: "staffContact", width: 120},
      {text: "职员邮箱", value: "staffEmail", width: 120},
      {text: "操作者", value: "operationByUser", width: 120},
      {text: "操作时间", value: "operationAt", width: 250},
      {text: '操作', value: 'action', align: 'center', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed'},
    ],
    groupHeaders: [
      {text: "部门", value: "orgName", width: 120},
    ],
    isEditDrawerShow: false,
    editItem: {},
    isAddDrawerShow: false,
    addItem: {},
    activePanel: [0]
  }),
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
    tableData() {
      return this.tableDataTree;
    }
  },
  watch: {
  },
  async created() {
    await this.doUiAction('refreshOrgData');
    await this.doUiAction('refreshStaffData');
  },
  mounted() {},
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'refreshOrgData':
          await this.refreshOrgData();
          break;
        case 'refreshStaffData':
          await this.refreshStaffData();
          break;
        case 'startCreateItem':
          await this.clearItemData();
          await this.openCreateItemDialog();
          break;
        case 'createItem':
          await this.prepareValidate();
          await this.confirmCreateItemDialog();
          await this.doCreateItem();
          await this.closeDrawerShow();
          await this.refreshStaffData();
          break;
        case 'startUpdateItem':
          await this.prepareItemData(uiActionData);
          await this.openUpdateDialog();
          break;
        case 'updateItem':
          await this.prepareValidate();
          await this.confirmUpdateItemDialog();
          await this.doUpdateItem();
          await this.closeDrawerShow();
          await this.refreshStaffData();
          break;
          // case 'deleteItem':
          //   await this.confirmDeleteItemDialog();
          //   await this.doDeleteItem(uiActionData);
          //   await this.refreshStaffData();
          //   break;
        default:
          console.error("[doUiAction] uiActionId not find", { uiActionId });
          break;
      }
    },
    // =================================uiAction 公共方法 start ======================================
    /**
     * uiActionId:  prepareValidate
     * description: ✅表单校验
     */
    async prepareValidate() {
      if (this.$refs.form.validate() === false) {
        window.vtoast.fail({ message: "输入有误, 请检查!" });
        throw new Error("[prepareValidate] false");
      }
    },

    onTreeChange(event) {
      console.log("onTreeChange", event)
      // 动态构建打开的层级ID
      const insertId = (target, parentId) => {
        target.forEach(item => {
          if(item.id === event[0]) {
            if(parentId) {
              this.openTree.push(...parentId);
            }
            this.openTree.push(event[0]);
          } else {
            if(item.children) {
              insertId(item.children, [...(parentId || []), item.id])
            }
          }
        })
      }
      insertId(this.orgBackend, null);
      this.currentOrgId = this.orgBackend.find(item => item.id === event[0]).orgId;
      this.doUiAction("refreshStaffData");
    },

    /**
     * uiActionId:  refreshStaffData
     * description: ✅获取表格数据
     */
    async refreshOrgData() {
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'orgManagement',
            actionId: 'selectItemList',
            orderBy: [{column: 'orgId', order: 'desc'}]
          }
        }
      });
      const {rows} = result.data.appData.resultData;
      this.orgBackend = rows;
      this.orgTree = rows.filter(item => !item.orgParentId);
      const buildTree = (target, resource) => {
        target = target.map(item => {
          const children = rows.filter(child => child.orgParentId === item.orgId);
          if(!_.isEmpty(children)) {
            item.children = children;
            item.children = buildTree(item.children, rows);
          }
          item.name = item.orgName;
          return item;
        })
        target.name = target.orgName;
        return target;
      }

      this.orgTree = buildTree(this.orgTree, rows);
      if(!_.isEmpty(this.orgTree)) {
        this.openTree = [this.orgTree[0].id];
      }
      console.log("this.orgBackend", this.orgTree);
    },
    async refreshStaffData() {
      this.isTableLoading = true;
      const serverSearchInput = _.pickBy(this.serverSearchInput, value=> !!value);
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'orgStaffRoleManagement',
            actionId: 'selectItemList',
            actionData: {},
            where: {
              orgPrentId: this.currentOrgId
            },
            whereLike: serverSearchInput,
            orderBy: [{column: 'staffId', order: 'desc'}]
          }
        }
      });
      const { rows } = result.data.appData.resultData;

      this.tableDataFromBackend = rows;
      const buildMemberList = (target) => {
        return target.map(item => {
          const memberList = rows.filter(row => row.orgId === item.orgId);
          if(!_.isEmpty(memberList)) {
            item.memberList = memberList;
          }
          if(!_.isEmpty(item.children)) {
            this.expanded.push(item);
            item.children = buildMemberList(item.children);
          }
          return item;
        });
      }
      this.tableDataTree = buildMemberList(this.orgTree);
      console.log(this.tableDataTree);
      // this.tableDataTree = rows.map(item => {
      //   const pathArr = item.orgPath.split("-");
      //   const orgPathName = [];
      //   pathArr.forEach(path => {
      //     const org = this.orgBackend.find(row => row.orgId === path);
      //     orgPathName.push(org.orgName);
      //   })
      //   item['部门'] = orgPathName.join(' - ');
      //   return item;
      // });
      this.isTableLoading = false;
    },
    // =================================uiAction 公共方法 end ======================================


    /**
     * uiActionId:  startCreateItem
     * description: ✅获取表格数据
     */
    async clearItemData() {
      this.addItem = {};
    },
    async openCreateItemDialog() {
      this.isAddDrawerShow = true;
    },

    /**
     * uiActionId:  createItem
     * description: ✅获取表格数据
     */
    async confirmCreateItemDialog() {
      if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doCreateItem() {
      const { id, ...data } = this.addItem;
      await window.vtoast.loading("新增数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'staffManagement',
            actionId: 'insertItem',
            actionData: data
          }
        }
      })
      await window.vtoast.success("新增数据成功");
    },
    async closeDrawerShow() {
      this.isEditDrawerShow = false;
      this.isAddDrawerShow = false;
    },

    /**
     * uiActionId:  startUpdateItem
     * description: ✅获取表格数据
     */
    async prepareItemData({item}) {
      this.editItem = {...item};
    },
    async openUpdateDialog() {
      this.isEditDrawerShow = true;
    },
    /**
     * uiActionId:  updateItem
     * description: ✅获取表格数据
     */
    async confirmUpdateItemDialog() {
      if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doUpdateItem() {
      const { id, staffId, ...data } = this.editItem;
      await window.vtoast.loading("修改数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'staffManagement',
            actionId: 'updateItem',
            actionData: data,
            where: {id}
          }
        }
      })
      await window.vtoast.success("修改数据成功");
    },

    /**
     * uiActionId:  deleteItem
     * description: ✅获取表格数据
     */
    async confirmDeleteItemDialog() {
      if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doDeleteItem({item}) {
      const { id, staffId } = item;
      await window.vtoast.loading("删除数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'staffManagement',
            actionId: 'deleteItem',
            actionData: {},
            where: { id: id }
          }
        }
      });
      await window.vtoast.success("删除数据成功");
    },
  }
})
</script>

<style scoped>
.v-treeview-node__root {
  cursor: pointer;
}
table > tbody > tr > td.fixed-expand-1, table > thead > tr > th.fixed-expand-1,
table > tbody > tr > td.fixed-expand-2, table > thead > tr > th.fixed-expand-2 {
  position: sticky !important;
  position: -webkit-sticky !important;
  right: 0;
  z-index: 10;
  background: white;
  border: none;
  box-shadow: none;
}
table > tbody > tr > td.fixed-expand-2, table > thead > tr > th.fixed-expand-2 {
  right: 58px;
}
.theme--light.v-data-table .v-row-group__header .v-icon {
  font-size: 18px;
}
.theme--light.v-data-table .v-row-group__header {
  background: #FBFBFB;
  font-weight: 600;
}
.theme--light.v-data-table .v-row-group__header ~ tr:not(.v-row-group__header) > td:first-child {
  padding-left: 40px;
}
.v-data-table__expanded td:nth-child(1){
  width: 0;
}
.v-data-table>.v-data-table__wrapper tbody tr.v-data-table__expanded__content{
  box-shadow: none;
}
</style>
{% endblock %}
